@model List<Dictionary.Models.WordReturnModel>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Дикшионари</title>
    <link href="@Url.Content("~/Styles/main.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="main">
        @{
            int cnt = 0;
        }
        @foreach (var word in @Model)
        {
            if (@word.Lang == "rus")
            {
                <div class="word" style="font-size:@word.FontSize;" data-id="@word.Id" data-lang="rus" data-cnt="@word.Cnt" data-num="@cnt">
                    <div class="num">@cnt</div>
                    <p> @word.Value</p>
                    <div class="cnt">@word.Cnt</div>
                </div>
            }
            else
            {
                <div class="word" style="font-size:@word.FontSize;" data-id="@word.Id" data-lang="en" data-cnt="@word.Cnt" data-num="@cnt">
                    <div class="num">@cnt</div>
                    <p>@word.Value</p>
                    <div class="cnt">@word.Cnt</div>
                </div>
            }
            cnt++;
        }
    </div>

    <div class="check">
        <form name="check">
            <input type="text" name="value" disabled value="" />
            <input type="text" name="translate" autocomplete="off" spellcheck="false" value="" />
        </form>
    </div>
    <input type="hidden" name="count" value="0" />
    <label id="count">Ваш счет : 0</label>
    <script src="Scripts/jquery-3.4.1.min.js"></script>
    <script src="Scripts/main.js"></script>
</body>
</html>
