@model List<Dictionary.Models.Word>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Дикшионари</title>
    <link href="@Url.Content("~/Styles/main.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="main">
        @{
            int cnt=0;
        }
        @foreach(var word in @Model)
        {
            if(@word.ID%2==0)
            {
        <div class="word" data-id="@word.ID" data-lang="rus" data-cnt="@cnt" data-num="@cnt">
            <div class="num">@cnt</div>
            <p> @word.RussianValue</p>
            <div class="cnt">@cnt</div>

        </div>
            }
            else
            {
    <div class="word" data-id="@word.ID" data-lang="en" data-cnt="@cnt" data-num="@cnt">
        <div class="num">@cnt</div>
        <p>@word.EnglishValue</p>
        <div class="cnt">@cnt</div>

    </div>
            }
            cnt++;
        }
    </div>

    <div class="check">
        <form name="check">
            <input type="text" name="value" disabled value="house" />
            <input type="text" name="translate" autocomplete="off" spellcheck="false" value="" />
        </form>
    </div>

    <script src="Scripts/main.js"></script>
</body>
</html>
